  .font-montserrat{
    font-family: 'Montserrat', sans-serif !important;"  
  }

  .text-vermelho-padrao{
    color: #e31b1c;
  }

  .text-vermelho-escuro{
    color: #620000;
  }

  .text-vermelho-claro{
    color: #f74b4b;
  }

  .text-cinza-claro{
    color: #f7f7f7;
  }

  .text-cinza-escuro{
    color: #292e32;
  }

  .text-amarelo{
    color: #ffe400;
  }

  .pb-10{
    padding-bottom:10px;
  }
  .pb-20{
    padding-bottom:20px;
  }
  .pb-30{
    padding-bottom:30px;
  }
  .pb-40{
    padding-bottom:40px;
  }
  .pb-50{
    padding-bottom:50px;
  }
  .mt-100{
    margin-top: 100px;
  }

  .mensagem{
    display: none;
  }

  .bg-vermelho-b {
    background-color: #d70027;
  }

  .btn-white{
    color:#e01c3a;
  }

  .btn-white:hover{
    background-color: #ffffff;
    color:#e01c3a;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none!important;
  }


  /*=============================================================MODO DESKTOP=================================================================================*/

@media (min-width: 1024px){

  .OnlyMobil{
    display: none !important;
  }

  .ta-left{
    text-align: left !important;
    margin-bottom: 80px !important;
  }

  .ta-left-2{
    text-align: left !important;    
  }

  .marcas-footer{
    display: flex;
    justify-content: space-between;
  }

  div.marcas-footer a img{
    transition: all 0.3s ease-in-out;
  }

  div.marcas-footer a img:hover{
    transform: scale(1.1);
  }

  .marca-lessen{
    width: 100%;
  }

  .marcas-mov{
    width: 80%;
  }

  .move-text{
    margin-top: 111px;
  }

  .text-custon-home{
    font-weight: bold;
    line-height: 25px;
    margin-top: 32px;
    padding-right: 47px;
  }

  .img-solucoes{
    width: 20%;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .text-left-home{
    font-size: 23px;
    padding: 30px;
  }

  .mb-text{
    margin-bottom: 45px;
  }

  .section-button{
    padding-bottom: 7.1em;
  }

  .section-button-quem-somos {
    padding-bottom: 10.1em;
  }

  .style-img-menu{
    width: /*70%*/ 100%;
    padding-bottom: 11px;
  }

  .bg-aside-home{
    background:url(../img/custon/img_experts-min.jpg) 50% 0 no-repeat;
  }

  .bg-aside-solucoes-seven_a{
    background:url(../img/custon/img_cabenobolso.png) center top 85% no-repeat;
  }

  .bg-aside-solucoes-seven_b{
    background:url(../img/custon/img_condicoespagamento.png) center top 0% no-repeat;
    background-size: contain;
  }

  .bg-aside-clinicas{
    background:url(../img/custon/img_unidade_florianopolis-min.png) center center no-repeat;
  }

  .bg-aside-quem-somos{
    background:url(../img/custon/img_quemsomos.jpg) center top no-repeat;
  }

  .bg-quiz{
    background:url(../img/custon/box_vermelho_img.jpg) center no-repeat;
  }

  .bg-aside-solucoes-two{
    background:url(../img/custon/img_implanteunitario.png) center top 50% no-repeat;
    background-size: inherit;
  }

  .bg-aside-solucoes-three{
    background:url(../img/custon/img_rota.png) center top 63% no-repeat;
    background-size: inherit;
  }

  .bg-aside-solucoes-four{
    background:url(../img/custon/img_tid.png) center top 0% no-repeat;
    background-size: inherit;
  }

  .bg-aside-clinicas {
    background: url(../img/custon/Imagem_1.png) center center no-repeat;
  }

  .navbar.affix .nav-desctop-list > li.active  a {
      color: #e31b1c;
      opacity: 0.8;
  }

  .bg-page{
    background: url(../img/custon/bg-home.png);
    background-size: 100%;
  }

  .bg-footer-img{
    background: url(../img/custon/bg_footer.jpg);
    background-size: 100%;
  }

  .bg-parallax-solucoes{
    background:url(../img/custon/parallax_solucoes.jpg) center top no-repeat;
    background-attachment: fixed;
    padding-top: 220px;
    padding-bottom: 220px;
  }

  .bg-parallax-qs{
    background:url(../img/custon/parallax-qs.jpg) center top no-repeat;
    background-attachment: fixed;
    padding-top: 220px;
    padding-bottom: 220px;
  }

  .bg-parallax-tramamentos{
    background:url(../img/custon/Banner_divisão.jpg) center top no-repeat;
    background-attachment: fixed;
    padding-top: 220px;
    padding-bottom: 220px;
    background-size: cover;
  }

  .section-banner-2 {
    margin-bottom: 18em;
  }

  .move-div-right{
    transform: translateX(686px);
  }

  .move-div-left{
    transform: translateX(-956px);
  }

  .text-left-mobil, .font-zise-question{
    font-size: 28px !important;
    color: #999999;
  }

  .container-quiz {
    padding-top: 70px;
    background-image: url(../img/custon/imagem-rodape-quiz.png);
    padding-bottom: 70px;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
  }

  .bg-box {
    padding: 70px 40px;
    -webkit-box-shadow: 9px 7px 5px rgb(50 50 50 / 77%);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 0px 4px 14px rgb(50 50 50 / 30%);
    margin-top: 5px;
    border-radius: 5%;
    transform: translateX(115px);
  }

  .mb-60{
    margin-bottom: 60px;
  }

  .fundo-mixto{
    background: #f7f7f7 url(../img/custon/bg-home.png) no-repeat;
  }

  .banner-quem-somos {
    background: url(../img/bg/bg-about-1.jpg) 50% 0 no-repeat;
    background-size: cover;
  }

  .contact_us_form{
    transform: translateY(7px);
  }

  .bg-custom{
    background-position-y: button !important;
  }

  .pb-col{
    padding-bottom: 17em;
  }

  .move-div-right-2 {
    transform: translateX(851px);
  }

  .bg-content-1 {
    padding: 1.8em 2em 2em;
    height: 29em;
    background: url(../img/custon/card_1.jpg) right bottom no-repeat;
  }

  .bg-content-2 {
      padding: 1.8em 2em 2em;
      height: 29em;
      background: url(../img/custon/card_2.jpg) right bottom no-repeat;
  }

  .bg-content-3 {
      padding: 1.8em 2em 2em;
      height: 29em;
      background: url(../img/custon/card_3.jpg) right bottom no-repeat;
  }

  .card-solucoes{
    width: 33.3% !important;
    /*padding: 5px;*/
    border: 5px solid #fff;
  }

  .pt-150{
    padding-top: 150px;
  }

  .bg-content-quiz {
    background: url(../img/custon/banner_paralax.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .text-custon-so{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 2.5em;
    padding: 0 2em;
    font-size: 14px;
  }

  .section-base-custon{
    margin-bottom: 60px;
  }

  .bg-form{
    background: url(../img/custon/bg_form.jpg);
  }

  .bg-mission-1-custon{
    background: url(../img/custon/Imagem_implantes_unitarios.jpg) 50% 50% no-repeat;
    background-size: cover;
  }

  .bg-mission-2-custon{
    background: url(../img/custon/Imagem_ROTA.jpg) 50% 50% no-repeat;
    background-size: cover;
  }

  .bg-mission-3-custon{
    background: url(../img/custon/Imagem_TID.jpg) 50% 50% no-repeat;
    background-size: cover;
  }

  .bg-mission-4-custon{
    background: url(../img/custon/Imagem_casal.jpg) 50% 50% no-repeat;
    background-size: cover;
  }

  .bg-clinica-floripa{
    background: url(../img/custon/imagem_florianopolis.jpg) 50% 50% no-repeat;
    background-size: cover;
  }

  .bg-clinica-curitiba{
    background: url(../img/custon/imagem_curitiba.jpg) 50% 50% no-repeat;
    background-size: cover;
  }

  .img-play{
    width: 15%;
    position: absolute;
    top: 0;
  }

  .move-title{
    transform: translate(65px, 14px);
  }

  .move-div-1{
    position: relative;
    transform: translate(0px, 14px);
  }

  .img-acordion{
    position: absolute;
    top: 25px;
    right: 20px;
    width: 2%;
  }

  .noHover{
    /*pointer-events: none;*/
    cursor: no-drop;
    opacity: .5;
  }

  .custon-div-1{
    position: absolute; 
    top: 65px; 
    margin-bottom: 13px;
  }

  .custon-div-2{
    position: absolute;
    top: 64px; 
    margin-bottom: 13px; 
    right: 8px;
  }

  .show-sem-cat{
    padding: 210px 0px;
  }
  
  /*clases para aumentar fontes no site*/
  h2.section-title,
  h2.section-title-3,
  h3.text-cust{
    font-size: 42px !important;
  }

  

  h4.text-white-,
  div.col-base h4{
    font-size: 22px !important;
  }

  p.bloco{
    font-size: 18px !important;
  }

  .row-about p, 
  .client-text,
  p.section-lead,
  .stat-descr{
    font-size: 20px !important;
  }

  span.client-name,
  div.address-title{
    font-size: 16px !important;
  }

  div.client i{
    font-size: 14px !important;
  }

  .promo-title {
    font-size: 32px !important;
    
  }

  h2.text-white{
    font-size: 41px !important;
  }

  button.btn-acordion.btn-link.mobil-btn,
  .text-muted, p.address-info,
  .address-title-2{
    font-size: 18px !important;
  }

  div.card-body{
    font-size: 18px !important;
  }

  .blog-title{
    font-size: 24px !important;
  }

  .seo-banner{
    font-size: 14px !important;
    letter-spacing: 0.4em!important;
  }



}

/**********************************************************************MODO MOBIL******************************************************************************/

@media (max-width: 768px){

  .OnlyDesktop{
    display: none !important;
  }

  .ta-left{
    text-align: center !important;
    margin-bottom: 80px !important;
  }

  .marcas-footer{
    display: inherit;
    margin-left: 24px;
  }

  .marca-lessen{
    width: 80%;
  }

  .marcas-mov{
    width: 80%;
  }

  .text-custon-home{
    font-weight: bold;
    line-height: 25px;
    margin-top: 32px;
    padding-right: 47px;
  }

  .ul-pl{
    padding-left: 18px !important;
  }

  .mob-fade-title{
    font-size: 67px !important;
    top: 5px !important;
  }

  .img-solucoes{
    width: 20%;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .text-left-home{
    font-size: 23px;
    margin-top: 2em;
  }

  .mb-text{
    margin-bottom: 45px;
  }

  .style-img-menu{
    width: 70%;
    /*transform: translateY(17px);*/
    transform: translateY(5px);
  }

  .ajust-move{
    top: /*-22*/0px;
  }

  .move-text{
    margin-top: 35px;
  }

  .bg-page{
    background: url(../img/custon/bg-home.png);
    background-size: 100%;
  }

  .footer-copy-riht{
    display: flex;
    flex-direction: column;
  }

  .footer-title-copy-right{
    margin-bottom: 12px;
  }

  .bg-footer-img{
    background: url(../img/custon/bg_footer.jpg);
    background-size: 100%;
  }

  .bg-parallax-solucoes{
    background:url(../img/custon/parallax_solucoes.jpg) center top no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover;
  }

  .bg-parallax-qs{
    background:url(../img/custon/parallax-qs.jpg) center top no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover;
  }

  .bg-parallax-tramamentos{
    background:url(../img/custon/Banner_divisão.jpg) center top no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover;
  }

  .banner-title{
    font-size:1.5em;
    color:#fff;
    margin-bottom: 1em;
  }

  .section-banner-2 {
    margin-bottom: 18em;
  }

  .text-left-mobil, .font-zise-question{
    font-size: 28px !important;
  }

  .container-quiz {
    padding-top: 70px;
    background-image: none !important;
    padding-bottom: 70px;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    
  }

  .bg-box {
    padding: 70px 40px;
    background: #f5f6f6;
    -webkit-box-shadow: 9px 7px 5px rgb(50 50 50 / 77%);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 0px 4px 14px rgb(50 50 50 / 30%);
    margin-top: 5px;
    border-radius: 5%;
    transform: translate(0px, -74px);
  }

  .pt-2em{
    padding-top: 2em !important;
  }

  .pt-6em {
    padding-top: 6em !important;
  }

  .fundo-mixto{
    background: #f7f7f7 url(../img/custon/bg-home.png) no-repeat;
    background-size: contain;
  }

  /*.banner-blue:before {
    background-color: #e31b1c;
    border-radius: 60px !important;
  }*/
  .banner-content {
    padding: 4em 5em !important;
  }

  .section-button-quem-somos {
    padding-bottom: 3.1em;
  }

  .title-banner-qs{
    font-size: 20px;
  }

  .section-pt-form{
    padding-top: 5.1em !important;
  }

  .btn-cta-banner {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.28em;
    font-size: 0.93em;
    position: relative;
    display: inline-block;
    border: 0;
    border-radius: 30px;
    /*padding: 1.2em 2.6em 1.2em !important;*/
    padding: 12px 10px !important;
    height: 3.8em;
    font-size: 1.3em !important;
    text-transform: uppercase;
    text-decoration: none;
    /*box-shadow: 0 10px 20px rgb(101 52 255 / 30%);*/
    background-color: #6534ff;
    -webkit-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important;
  }

  .pb-col{
    padding-bottom: 10em;
  }

  .bg-content-1 {
    padding: 1.8em 2em 2em;
    height: 29em;
    background: url(../img/custon/card_1.jpg) center bottom 25% no-repeat;
  }

  .bg-content-2 {
      padding: 1.8em 2em 2em;
      height: 29em;
      background: url(../img/custon/card_2.jpg) center bottom 25% no-repeat;
  }

  .bg-content-3 {
      padding: 1.8em 2em 2em;
      height: 29em;
      background: url(../img/custon/card_3.jpg) center bottom 25% no-repeat;
  }

  .custon-title{
    font-size: 30px;
  }

  .card-solucoes{
    width: 100% !important;
    /*padding: 0px 11px;*/
    border: 5px solid #fff;
  }

  .pt-150{
    padding-top: 25px;
  }

  .bg-content-quiz {
    background: url(../img/custon/banner_paralax.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .section-title-mobil{
    font-size: 3.3em !important;
  }

  .text-custon-so{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 2.5em;
    padding: 0 2em;
    font-size: 14px;
  }

  .section-base-custon{
    margin-bottom: 0px;
  }

  .bg-form{
    background: url(../img/custon/bg_form.jpg);
    background-size: contain;
  }
  
  .title-form-mob{
    font-size: 15px;
  }

  .img-play{
    width: 13%;
    position: absolute;
    top: -19px;
  }

  .move-title{
    font-size: 12px;
    transform: translate(47px, -11px);
  }

  .move-div-1{
    transform: translateY(30px);
    position: relative;
  }

  .img-acordion{
    position: absolute;
    top: 25px;
    right: 10px;
    width: 6%;
  }

  .btn-navegacao {
    /*background-color: #fff;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    color: #3d3d3d;*/
    font-size: 10px !important;
  }

  .noHover{
    /*pointer-events: none;*/
    cursor: no-drop;
    opacity: .5;
  }

  .custon-div-1{
    position: absolute;
    top: 100px;
    margin-bottom: 13px;
  }

  .custon-div-2{
    position: absolute;
    top: 99px;
    margin-bottom: 13px;
    right: 109px;
  }

  a h4.posts{
    margin-top: 5px !important;
  }

  .show-sem-cat{
    padding: 0px 0px;
  }

  .title-m{
    font-size: 8px;
  }


}


.show-sem-cat.display-none{
    display: none;
  }

a h4.posts:hover{
  color:#e31b1c;
}

.mt-50{
  margin-top: 50px;
}

i.icon.ion-mouse:hover{
  cursor: pointer;
}

.btn-amarelo{
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  background-color: #ffce00;
  color: #292e32;
}

.btn-red {
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    background-color: #d70027;
}


.btn.btn-red:hover{
  background-color:#e31b1c;
  color: #fff;
  -webkit-box-shadow:none;
  box-shadow: none;
  outline: none!important;
}

.btn.btn-amarelo:hover,
.btn.btn-amarelo:focus {
  background-color:#ffe400;
  color: #292e32;
  -webkit-box-shadow:none;
  box-shadow: none;
  outline: none!important;
}

.btn.btn-white:focus{
  background-color: #fff;
  color: #e31b1c;
}

.btn-quiz {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.28em;
    font-size: 0.93em;
    position: relative;
    display: inline-block;
    border: 0;
    border-radius: 30px;
    padding: /*1.2em 2.6em 1.2em*/ 10px 50px;;
    height: 3.8em;
    font-size: 0.9375em;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 10px 20px rgb(41 46 50 / 30%);
    background-color: #6534ff;
    -webkit-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important;
}

.title-quiz-form{
  padding-left: 14px;
  font-size: 1.125em;
}

.mensagem {
    display: none;
    margin-top: 20px;
    box-shadow: inset 0 0 3px #cec4c4;
    font-size: 16px;
    line-height: 22px;
    border: 0;
    padding: 24px;
    background: #f9f9f9;
}

ul.ul-pl li{
  font-family: 'Montserrat', sans-serif !important;"
}

.text-dark {
  color: #3b3b3b !important;
}

i.ion-ios-play{

  color: #e31b1c;

}   

.bg-vermelho {
    background-color: #e7344c;
    color: /*#9a9a9a*/#fff;
}

/**********************************************************Acordion******************************************************************************/
.accordion .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .15rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    position: relative;
}

.accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: /*1.25rem*/30px;
}

.card-header:hover{
  cursor: pointer;
}

.light-blue-bg {
    /*background: #4592b1 !important;*/
    background: url(../images/custon/Bg_footer.jpg);
    background-size: contain;
    padding: 200px 0;
}

/*.address-panel-custon .icon {
  float: left;
  font-size: 2em;
  width: 1.6em;
  line-height: 1;  -----------------------5em 15px 0px 101px;
}*/

.address-panel-custon{
  /*padding: 5em 15px;*/
  color:#fff;
}

.address-panel-custon-2{
  /*padding: 5em 15px 0px 101px;*/
  color:#fff;
}

.address-panel-custon .address-item-2,
.address-panel-custon-2 .address-item-2{
  overflow: hidden;
  margin-top:1.5em;
}

/*.address-panel-custon .address-item-2,
.address-panel-custon-2 .address-item-2:first-child{
  margin-top:0;
}*/

.address-panel-custon .icon,
.address-panel-custon-2 .icon{
  float:left;
  font-size:2em;
  width:1.6em;
  line-height: 1;
}

.address-panel-custon .social-list,
.address-panel-custon-2 .social-list{
  margin-top:2.5em;
}