:root {
--red-cta: #CF1F25/*#b21f24*/;
--white-cta: #ffffff;
--black-cta: #000000;
--grey-cta: #919393;
}

.field-area + .field-area {
margin-top: 20px
}
.field-area input[type=email],
.field-area input[type=text],
.field-area textarea,
.field-area select, .showPrefix, .selectedPrefix {
position: relative;
width: 100%;/*calc(100% - 40px);*/
/*padding-left: 20px;*/
padding-right: 20px;
font-family: "Heebo", sans-serif;
font-weight: 400;
letter-spacing: 1px;
font-size: 13px;
line-height: 24px;
margin-top: 20px;
padding-bottom: 10px;
background: transparent;
border: none;
color: #fff;
-webkit-transition: border-bottom 0.3s, color 0.3s;
transition: border-bottom 0.3s, color 0.3s;
border-bottom: 2px solid #fff !important;/*1px solid rgb(9, 31, 64);*/
}

.field-area input:focus{

	outline: 0px !important;
}
.field-area select:focus{

	outline: 0px !important;
}

select option{
    
    background: #620000; /*rgba(0,0,0,0.3);*/
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4); 
}

/*select option:hover{
    
    background: #f74b4b !important;
    
}*/

.showPrefix {
	width: 14%;
	/*margin: 0px 1%;*//*4px 1%;*/
	margin-left: 1%;
	margin-right: 1%;

}

.selectedPrefix {
width: 14%;
}

.phoneArea input[type=text] {
/*width: 59%;*//*70%*/

}

#area-formSDC__ {
margin-top: 10px
}

.field-area input[type=checkbox] {
float: left;
margin-right: 15px;
top: 3px;

}

p.text a{
	color: #fff;
	font-family: 'Montserrat', sans-serif;

}

form .checkbox {
margin-left: 20px;/*0*/
}

.field-area label {
height: auto;
display: block;
font-family:"Heebo", sans-serif;
font-size: 14px;
font-weight: bold;
color: #fff;
width: 353px;
padding-top: 0;
padding-right: 0;
padding-left: 0;
margin-top: 0;
margin-right: 0;
margin-bottom: 0;
margin-left: 0px;
background-color: transparent;
background-image: none;
vertical-align: top;
text-align: left;
text-align-last: left;
}

.checkbox {
/*margin-left: 20px*/
}

div#area-form-home-TSS__{
	display: flex;
	justify-content: center;
}

#form_home_lessedentalclinic button {

	background: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 60px;
    font-weight: normal;
    border-radius: 0px;
    letter-spacing: 1px;
    color: #fff;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #666666;
    border: 1px solid #666666;

}

#form-home-TSS button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #292e32;
  letter-spacing: 0.28em;
  font-size: 0.93em;
  position: relative;
  display: inline-block;
  border:0;
  border-radius: 30px;
  padding: 1.2em 2.6em 1.2em;
  /*height: 3.8em;*/
  font-size: 0.9375em;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow:0 10px 20px rgba(101,52,255,0.3);
  background-color:#ffe400;
  -webkit-transition: all .3s ease-out!important;
          transition: all .3s ease-out!important;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    background-color: #ffe400;
}

#form_suporte_fale_connosco button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.28em;
    font-size: 0.93em;
    position: relative;
    display: inline-block;
    border: 0;
    border-radius: 30px;
    padding: 1.2em 2.6em 1.2em;
    /* height: 3.8em; */
    font-size: 0.9375em;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(101,52,255,0.3);
    background-color: #e31b1c;
    -webkit-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    
}

#form-home-TSS button:hover{
  background-color:#ffe400;
  color: #fff;
  -webkit-box-shadow:none;
  box-shadow: none;
  outline: none!important;
}

#form_suporte_fale_connosco button:hover{
  background-color: #e31b1c;
  color: #fff;
  -webkit-box-shadow:none;
  box-shadow: none;
  outline: none!important;
}

.button-reclutamento{
	color: black;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font-family: "LATO", sans-serif;
	position: relative;
	margin-bottom: 0px;
	font-size: 18px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	min-width: 150px;
	padding: 23px 27px;/*10px 15px*/;
	border: 2px solid;
	background-color: #CF1F25;
	border-color: var(--red-cta);
	color: var(--white-cta);
	border-radius: 100px;
}

.button-reclutamento:hover{
	background-color: transparent;
	color: var(--red-cta);
}

.button-fale-conosco{
	color: black;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font-family: "LATO", sans-serif;
	position: relative;
	margin-bottom: 0px;
	font-size: 23px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	min-width: 150px;
	padding: 23px 60px;/*10px 15px*/;
	border: 2px solid;
	background-color: #CF1F25;
	border-color: var(--red-cta);
	color: var(--white-cta);
	border-radius: 100px;
}

.button-fale-conosco:hover{
	background-color: transparent;
	color: var(--red-cta);
}

.button-trabalhe-conosco{
	color: black;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font-family: "LATO", sans-serif;
	position: relative;
	margin-bottom: 0px;
	font-size: 23px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	min-width: 150px;
	padding: 23px 60px;/*10px 15px*/;
	border: 2px solid;
	background-color: #CF1F25;
	border-color: var(--red-cta);
	color: var(--white-cta);
	border-radius: 100px;
}

.button-trabalhe-conosco:hover{
	background-color: transparent;
	color: var(--red-cta);
}


#form_home_lessedentalclinic button:hover {
	background-color: #4592b1;
	color: var(--white-cta);
}

#content option {
background-color: #fff;
color: #333;
}

.field-area ::placeholder {
color: #fff;
font-size: 13px;
opacity: 1;
}

.field-area :-ms-input-placeholder {
color: #fff;
font-size: 13px;
}

.field-area ::-ms-input-placeholder {
color: #fff;
font-size: 13px;
}
.phoneArea {
display: flex;
}
.field-area .phoneArea .selectedPrefix {
border-bottom: 2px solid #333;
font-family: Arial;
display: inline-block;
width: 62px;
height: 45px;
position: relative;
}
.field-area .phoneArea .showPrefix {
width: 54px;
height: 45px;
padding: 10px 5px 0;
border-bottom: 2px solid #333;
font-weight: 400;
color: #333;
}
.field-area .phoneArea input {
margin: 0;
height: 45px;
}
.field-area .phoneArea .selectedOption {
background-color: transparent;
color: #333;
width: 100%;
height: 100%;
margin: 0px 19px 0px 0px;
font-size: 15px;
line-height: 24.8px;
padding: 8px 11px;
box-sizing: border-box;
border: 0px;
}
.prefixDiv {
position: absolute;
top: 43px;
left: -1px;
display: none;
background-color: white;
z-index: 9999;
}
.formArea .phoneArea .selectedOption:after {
position: absolute;
content: "";
top: 20px;
right: 7px;
width: 1px;
border: 4px solid transparent;
border-color: #333 transparent transparent transparent;
}
.option {
padding: 15px;
color: #ffffff;
width: 20%;
transition: all .2s;
}
.option:hover {
background-color: rgba(0,0,0,.2);
}
.active_select {
display: flex;
flex-flow: row wrap;
width: 300px;
top: 43px;
left: 0px;
background-color: #333;
}

.selectedOption.active_select {
background-color: #fff;

}

#form-fale-connosco-agendar a{
	color: #999999;
}

/*=============================================================MODO MOBIL======================================================================================*/
@media (max-width: 700px){

	p.text{
		font-size: 14px !important;
	}

	.formulario-gets-leads-extra{
        width: 100%;
        padding: 0 12px;
	}

	#area-form-home__ {
    	/*margin: 0 50px !important;*/
    	/*display: flex;
    	justify-content: center;*/
	}

	.imput-file-2{
	  padding-left: 12px !important;
	  padding-bottom: 0px !important;
	  font-size: 12px !important;  
	  background: transparent;
	  width: 95%;/*239px*/
	  outline: none;
	  border: none;
	  border-bottom: 2px solid #919393;
	}

	.imput-file-3{
	  padding-left: 11px !important;
      padding-right: 0px !important;
	  padding-bottom: 0px !important;
	  font-size: 12px !important;  
	  background: transparent;
	  width: 95%;/*239px*/
	  outline: none;
	  border: none;
	  border-bottom: 2px solid #919393;
	}

	.btn-file{
	    position: absolute;
	    padding: 5px 6px;
	    font-size: 12px;
	    text-align: center;
	    cursor: pointer;
	    background: #606A70;
	    color: #fff;
	    left: 14px;
	    bottom: 1px;
	    transition: all .3s;
	}

	.fz-13{
		font-size: 13px;
	}

	.title-form-blog{
		font-size: 20px;
		margin-top: 38px;		
	}

	.mt-desktop-blog{
		margin-top: -70px;
	}

	.mt-desktop-blog-2 {
	    margin-top: -173px;
	}

	.mb-form-blog{
		margin-bottom: 40px;
	}

	.btn-form-blog{
		width: 100%;
	}

	.btn-form-fale-conosco{
		width: 97%;		
	}

	.checkbox-inline{
		margin-top: -3px !important;    
    	margin-left: 17px !important;
    	margin-right: 5px;    
	}
	.mb-10-desk{
		margin-bottom: 10px;
	}

	.file-new{

		border: none;
		border-bottom: 2px solid #919393;
		border-radius: 0px;
		background: transparent;
		color: #4b4e53;
		font-size: 13px;
		margin: 0;
		outline: medium none;
		padding: 8px 3px 0px 0px;
		font-family: 'Lato', 'Open Sans', Arial, Helvetica, sans-serif;
		width: 79%;
		
	}

	.file-new-2 {
	    border: none;
	    border-bottom: 2px solid #919393;
	    border-radius: 0px;
	    background: transparent;
	    color: #4b4e53;
	    font-size: 13px;
	    margin: 0;
	    outline: medium none;
	    padding: 8px 3px 0px 0px;
	    font-family: 'Lato', 'Open Sans', Arial, Helvetica, sans-serif;
	    width: 76%;
	}

	.move-input-file{
		transform: translateX(19px);
		padding-bottom: 30px;
	}

	.select-tc{
		width: 92%;
	    margin-left: 15px;
	}

	.with-content{
		width: 95%;
	}


}

/*=============================================================MODO DESKTOP====================================================================================*/
@media (min-width: 700px){

	.formulario-gets-leads-extra{

	}

	.imput-file-2{
	  padding-left: 12px !important;
	  padding-bottom: 0px !important;
	  font-size: 16px !important;  
	  background: transparent;
	  width: 335px;
	  outline: none;
	  border: none;
	  border-bottom: 2px solid #919393;
	}

	.imput-file-3{
	  padding-left: 9px !important;
      padding-right: 0px !important;
	  padding-bottom: 0px !important;
	  font-size: 16px !important;  
	  background: transparent;
	  width: 335px;
	  outline: none;
	  border: none;
	  border-bottom: 2px solid #919393;
	}
	.div-imput{
		width: 362px;
	}

	.btn-file{
	    position: absolute;
	    padding: 5px 11px;
	    font-size: 14px;
	    text-align: center;
	    cursor: pointer;
	    background: #606A70;
	    color: #fff;
	    left: 15px;/*14px*/;
	    bottom: 1px;
	    transition: all .3s;
	}

	.title-form-blog{
		font-size: 20px;
		margin-top: 38px;
		padding-right: 86px;
	}

	.btn-form-blog{
		width: 50%;
	}

	.move-right{
		transform: translateX(60px);
	}

	.mt-desktop-blog{
		margin-top: -140px;
	}

	.btn-form-fale-conosco{
		width: 60%;
		margin-bottom: 16px;
	}

	.checkbox-inline{
		margin-top: -3px !important;    
    	margin-left: 17px !important;
    	margin-right: 5px;    
	}

	.mb-10-desk{
		margin-bottom: 10px;
	}

	.file-new{

		border: none;
		border-bottom: 2px solid #919393;
		border-radius: 0px;
		background: transparent;
		color: #4b4e53;
		font-size: 13px;
		margin: 0;
		outline: medium none;
		padding: 8px 3px 0px 0px;
		font-family: 'Lato', 'Open Sans', Arial, Helvetica, sans-serif;
		width: 79%;
		
	}

	.file-new-2{

		border: none;
		border-bottom: 2px solid #919393;
		border-radius: 0px;
		background: transparent;
		color: #4b4e53;
		font-size: 13px;
		margin: 0;
		outline: medium none;
		padding: 8px 3px 0px 0px;
		font-family: 'Lato', 'Open Sans', Arial, Helvetica, sans-serif;
		width: 79%;
		
	}

	.icon-file{
		margin-right: 10px;
	    font-size: 30px;
	    top: 10px;
	}

	.move-input-file{
		transform: translateX(19px);
		padding-bottom: 30px;
	}

	.select-tc{
		width: 92%;
	    margin-left: 15px;
	}

	.with-content{
		width: 70%;
	}

}

/* 
  ====================================================================##Device = Tablets, Ipads (portrait)===================================================
  ##Screen = B/w 768px to 1024px
*/


@media (min-width: 768px) and (max-width: 1024px) {

	.right-desktop-blog {
	    transform: translate(-67px, 0px);
	}

	.mt-desktop-suport {
	    margin-bottom: 35px;
	}


	.imput-file-2{
	  padding-left: 12px !important;
	  padding-bottom: 0px !important;
	  font-size: 16px !important;  
	  background: transparent;
	  width: 335px;
	  outline: none;
	  border: none;
	  border-bottom: 2px solid #919393;
	}

	.imput-file-3{
	  padding-left: 9px !important;
      padding-right: 0px !important;
	  padding-bottom: 0px !important;
	  font-size: 16px !important;  
	  background: transparent;
	  width: 335px;
	  outline: none;
	  border: none;
	  border-bottom: 2px solid #919393;
	}
	.div-imput{
		width: 362px;
	}

	.btn-file{
	    position: absolute;
	    padding: 5px 11px;
	    font-size: 14px;
	    text-align: center;
	    cursor: pointer;
	    background: #606A70;
	    color: #fff;
	    left: 15px;/*14px*/;
	    bottom: 1px;
	    transition: all .3s;
	}

	.title-form-blog{
		font-size: 20px;
		margin-top: 38px;
		padding-right: 86px;
	}

	.btn-form-blog{
		width: 50%;
	}

	.move-right{
		transform: translateX(0px);
	}

	.mt-desktop-blog{
		margin-top: -140px;
	}

	.btn-form-fale-conosco{
		width: 161%;
		margin-bottom: 16px;
	}

	.checkbox-inline{
		margin-top: -3px !important;    
    	margin-left: 17px !important;
    	margin-right: 5px;    
	}

	.mb-10-desk{
		margin-bottom: 10px;
	}

	.file-new{

		border: none;
		border-bottom: 2px solid #919393;
		border-radius: 0px;
		background: transparent;
		color: #4b4e53;
		font-size: 13px;
		margin: 0;
		outline: medium none;
		padding: 8px 3px 0px 0px;
		font-family: 'Lato', 'Open Sans', Arial, Helvetica, sans-serif;
		width: 79%;
		
	}

	.file-new-2{

		border: none;
		border-bottom: 2px solid #919393;
		border-radius: 0px;
		background: transparent;
		color: #4b4e53;
		font-size: 13px;
		margin: 0;
		outline: medium none;
		padding: 8px 3px 0px 0px;
		font-family: 'Lato', 'Open Sans', Arial, Helvetica, sans-serif;
		width: 79%;
		
	}

	.icon-file{
		margin-right: 10px;
	    font-size: 30px;
	    top: 10px;
	}

	.move-input-file{
		transform: translateX(19px);
		padding-bottom: 30px;
	}

	.select-tc{
		width: 92%;
	    margin-left: 15px;
	}

	.button-fale-conosco{
		color: black;
		display: inline-block;
		text-decoration: none;
		font-weight: bold;
		font-family: "LATO", sans-serif;
		position: relative;
		margin-bottom: 0px;
		font-size: 23px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		min-width: 150px;
		padding: 23px 42px;/*10px 15px*/;
		border: 2px solid;
		background-color: #CF1F25;
		border-color: var(--red-cta);
		color: var(--white-cta);
		border-radius: 100px;
	}

	.button-fale-conosco:hover{
		background-color: transparent;
		color: var(--red-cta);
	}

	.mt-desktop-trabalhe-conosco {
	    margin-bottom: 0px;
	    margin-top: 0px;
	    padding-top: 0px;
	    padding-bottom: 170px;
	}

}



#area-form-home__ {
    /*margin: 0 100px;*/
    display: flex;
    justify-content: center;

}

.center-btn{
	display: flex;
    justify-content: center;
}

/*.border-boton-edit{

	color: #737373;
    -webkit-transition: border-bottom 0.3s, color 0.3s;
    transition: border-bottom 0.3s, color 0.3s;
    border-bottom: 2px solid #919393 !important;
}*/



.btn-file:hover{  
  background: #474E51;  
}

/*=========================================================BLOG=============================================================================*/



.button-blog{
	color: black;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font-family: "LATO", sans-serif;
	position: relative;
	margin-bottom: 0px;
	font-size: 18px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	min-width: 150px;
	padding: 12px 27px;/*10px 15px*/;
	border: 2px solid;
	background-color: #CF1F25;
	border-color: var(--red-cta);
	color: var(--white-cta);
	border-radius: 100px;
}

.button-blog:hover{
	background-color: transparent;
	color: var(--red-cta);
}



/*input FILE*/

/*input[type=file] {
  text-indent: -115px;
}*/

.glyphicon-folder-open:hover{
	cursor: pointer;
}

div#area-form_home_lessedentalclinic__{

	display: flex;
	justify-content: center;
}

select{
    
    display: inline-block;
  width:100%;
  font-size: 1.125em;
  border-radius: 0.75em;
  color: /*#3d3d3d*/#fff;
  background-color:transparent;
  border:0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  padding:0em 0 0.3em 0;
  height:2.5em;
  -webkit-box-shadow:none;
  box-shadow:none;
  /*-webkit-appearance: none; esto hace aparecer o desaparecer las flechas del select*/
  -webkit-transition: all .15s;
       -o-transition: all .15s;
          transition: all .15s;
    
  }

select:focus,
select:active
{
    
    display: inline-block;
  width:100%;
  font-size: 1.125em;
  border-radius: 0.75em;
  color: /*#3d3d3d*/#fff;
  background-color:transparent;
  border:0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  padding:0em 0 0.3em 0;
  height:2.5em;
  -webkit-box-shadow:none;
          box-shadow:none;
      /*-webkit-appearance: none;*/
  -webkit-transition: all .15s;
       -o-transition: all .15s;
          transition: all .15s;
    
  }



/**************************************************************AQUI EMPIEZA LAS CLASES DE LOS FORMULARIOS CUSTOMIZADOS POR MI************************************/

  /*=============================================================MODO DESKTOP=================================================================================*/

@media (min-width: 1024px){



}

/**********************************************************************MODO MOBIL******************************************************************************/

@media (max-width: 768px){

  
  

}